
<div class="row">
    <div class="col-sm-offset-3 col-md-offset-4 col-xs-7 col-sm-6 col-md-4 " id="prijava">
        <form method="post" action="post/" id="frmPrijava">
            <h3 class="text-center">Prijava</h3>
            <div class="form-group">
                <label>Korisnicko ime:</label>
                <input type="email" id="prijavaKorisnickoIme" style="float:right;" />
            </div>
            <div class="form-group">
                <label>Lozinka:</label>
                <input type="password" id="prijavaLozinka" style="float:right;" />
            </div>
            <br />
            <div class="form-group">
                <input type="submit" class="btn btn-default col-md-offset-1 col-md-4" value="Prijava" />
                <input id="btnRegistracija" type="button" class="btn col-md-offset-2 col-md-4" style="color:white; background-color:black;" value="Registracija" />
            </div>
        </form>
    </div>
</div>

